HEALTHCARE_MCP_HOST="localhost"
HEALTHCARE_MCP_PORT="8000"
# (Optional) If set, this value will be used as the server's base URL instead of generating it from host and port
HEALTHCARE_MCP_SERVER_URL=""


HEALTHCARE_MCP_FHIR__CLIENT_ID=""
HEALTHCARE_MCP_FHIR__CLIENT_SECRET=""
HEALTHCARE_MCP_FHIR__BASE_URL=""
HEALTHCARE_MCP_FHIR__SCOPE=""
# Timeout for FHIR server requests, in seconds
HEALTHCARE_MCP_FHIR__TIMEOUT=60
# (Optional) If set, the authorization flow will be skipped and this access token will be used directly
HEALTHCARE_MCP_FHIR__ACCESS_TOKEN=""


HEALTHCARE_MCP_OAUTH__CLIENT_ID=""
HEALTHCARE_MCP_OAUTH__CLIENT_SECRET=""
HEALTHCARE_MCP_OAUTH__METADATA_URL=""
