FHIR_MCP_HOST="localhost"
FHIR_MCP_PORT="8000"
# (Optional) If set, this value will be used as the server's base URL instead of generating it from host and port
# FHIR_MCP_SERVER_URL=""
# Timeout from MCP server to FHIR server, in seconds
# FHIR_MCP_REQUEST_TIMEOUT=60 

FHIR_SERVER_CLIENT_ID=""
FHIR_SERVER_CLIENT_SECRET=""
FHIR_SERVER_BASE_URL=""
FHIR_SERVER_SCOPES=""
# (Optional) If set, the authorization flow will be skipped and this access token will be used directly
# FHIR_SERVER_ACCESS_TOKEN=""
