services:
  hapi-r4-postgresql:
    image: docker.io/hapiproject/hapi:v8.4.0-2
    environment:
      - spring.main.allow-bean-definition-overriding=true
      - hapi.fhir.cdshooks.enabled=true
      - hapi.fhir.cr.enabled=true
      - spring.datasource.url=jdbc:postgresql://postgresql-server:5432/postgres
      - spring.datasource.password=password
      - hapi.fhir.fhir_version=R4
      - hapi.fhir.allow_cascading_deletes=true
      - spring.datasource.driverClassName=org.postgresql.Driver
      - spring.jpa.properties.hibernate.dialect=ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgres94Dialect
      - hapi.fhir.allow_multiple_delete=true
      - hapi.fhir.bulk_export_enabled=true
      - hapi.fhir.bulk_import_enabled=true
      - hapi.fhir.expunge_enabled=true
      - hapi.fhir.allow_external_references=true
      - spring.datasource.username=postgres
    ports:
      - 8080:8080
    volumes: []
    networks:
      - hapi-fhir_network
  postgresql-server:
    image: docker.io/postgres:17
    environment:
      - POSTGRES_PASSWORD=password
    ports: []
    networks:
      - hapi-fhir_network
  fhir-mcp-server:
    build: . 
    image: fhir-mcp-server:latest
    container_name: fhir-mcp-server
    environment:
      FHIR_SERVER_BASE_URL: http://hapi-r4-postgresql:8080/fhir
      FHIR_MCP_HOST: 0.0.0.0
      FHIR_MCP_PORT: "8000"
      FHIR_MCP_REQUEST_TIMEOUT: "30"
      FHIR_SERVER_DISABLE_AUTHORIZATION: True
    ports:
      - "8000:8000"
    networks:
      - hapi-fhir_network
networks:
  hapi-fhir_network:
    name: hapi-fhir_network
